{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello PlayerFormController!
{% endblock %}

{% block body %}

{% include 'first_nav.html.twig' %}

<div class="main-wrapper">

	<div class="container">

		<a href="/team/screen" class="dis-block p-b-20">&larr; Retour</a>

		{{ form_start(form, {'attr': {'id': 'player_form'}}) }}

		<div class="form-row">
			<div class="form-group col-xs-12 col-sm-6">
				{{ form_row(form.lest_name) }}
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				{{ form_row(form.first_name) }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-xs-12 col-md-6">
				{{ form_row(form.picture) }}
			</div>
			<div class="form-group col-xs-12 col-md-6">
				{{ form_row(form.license_number) }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-xs-12 col-sm-6">
				<div class="form-row">
					<div class="form-group col-xs-12 col-md-6">
						{{ form_row(form.is_post) }}
					</div>
					<div class="form-group col-xs-12 col-md-6">
						{{ form_row(form.play_in) }}
					</div>
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				{{ form_row(form.birth_date ) }}
				{{ form_row(form.club_entry_date ) }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-xs-12">
				{{ form_row(form.stats) }}
			</div>
		</div>

	</div>

	{{ form_end(form)}}

</div>
{% endblock %}