{% extends 'base.html.twig' %}

{% block title %}Hello StatMatchController!{% endblock %}

{% block body %}

{% include 'main_nav.html.twig' %}

<div class="main-wrapper">

    <!-- <div class="container-fluid"> -->
    <div class="dash-card table-responive">

        <div class="card-header">
            <h4>Statistiques du match</h4>
        </div>

        {{ form_start(form, {'attr': {'id': ''}}) }}

        <table id="StatMatchForm">
            <thead>
                <tr>
                    <th>{{ form_label(form.score) }}</th>
                    <th>{{ form_label(form.reds) }}</th>
                    <th>{{ form_label(form.yellows) }}</th>
                    <th>{{ form_label(form.essais) }}</th>
                    <th>{{ form_label(form.transformations) }}</th>
                    <th>{{ form_label(form.penalites) }}</th>
                    <th>{{ form_label(form.drops) }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ form_widget(form.score) }}</td>
                    <td>{{ form_widget(form.reds) }}</td>
                    <td>{{ form_widget(form.yellows) }}</td>
                    <td>{{ form_widget(form.essais) }}</td>
                    <td>{{ form_widget(form.transformations) }}</td>
                    <td>{{ form_widget(form.penalites) }}</td>
                    <td>{{ form_widget(form.drops) }}</td>
                </tr>
            </tbody>
        </table>

        {{ form_end(form)}}

    </div>

</div>
</div>

<script>
    $(document).ready(function () {
        $('#StatMatchForm').DataTable({
            "language": {
                "url": "{{ asset('js/french.lang') }}"
            },
            responsive: true,
            autoWidth: false,
            bFilter: false,
            bInfo: false,
            bLengthChange: false,
            bPaginate: false
        });
    })
</script>
{% endblock %}