{% extends 'base.html.twig' %}

{% block title %}Hello StatMatchController!{% endblock %}

{% block body %}

{# {% include 'main_nav.html.twig' %} #}

<div class="main-wrapper">

    <!-- <div class="container-fluid"> -->
    <div class="dash-card">

        <div class="container">

            {{ form_start(form, {'attr': {'id': ''}}) }}

            <div class="form-row">
                <div class="col-1">
                    {{ form_row(form.score) }}
                </div>
                <div class="col-1">
                    {{ form_row(form.reds) }}
                </div>
                <div class="col-1">
                    {{ form_row(form.yellows) }}
                </div>
                <div class="col-1">
                    {{ form_row(form.essais) }}
                </div>
                <div class="col-1">
                    {{ form_row(form.transformations) }}
                </div>
                <div class="col-1">
                    {{ form_row(form.penalities) }}
                </div>
                <div class="col-1">
                    {{ form_row(form.drops) }}
                </div>
            </div>



            {{ form_end(form)}}

        </div>
        <div class="row">

            <center>
                <h1>
                    <h1>

                        <table>
                            <tr>
                                <td>Carton rouge</td>
                                <td>Carton jaune</td>
                                <td>Essais</td>
                                <td>Transformation</td>
                                <td>Pénalités</td>
                                <td>Drops</td>
                            </tr>
                            <tr>
                                {# <td>{{red}}</td>
                    <td>{{yellow}}</td>
                    <td>{{essais}}</td>
                    <td>{{transformation}}</td>
                    <td>{{penalite}}</td>
                    <td>{{drops}}</td> #}
                            </tr>
                        </table>
            </center>
            <center>
                <p>liste des joueurs
            </center>
            <table>
                <tr>
                    <td>Prenom</td>
                    <td>Nom</td>
                    <td>Carton rouge</td>
                    <td>Carton jaune</td>
                    <td>Essais</td>
                    <td>Transformation</td>
                    <td>Pénalités</td>
                    <td>Drops</td>
                    {# <td>Temps de jeux</td> #}
                </tr>


            </table>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}