<div class="draggable player_card" data-id-player="{{id}}">
    <!-- <div> -->
<img src="/img/picture{{asset(player.picture)}}" alt="">

    <!-- </div> -->
    <p class="player_initials player_{{id}}"></p>
</div>

<script>
    var lastname = "{{lastname}}";
    var firstname = "{{firstname}}";
    var f = firstname.charAt(0)
    var l = lastname.charAt(0)
    var initials = f + "." + l + ".";
    $('.player_{{id}}').text(initials)
</script>