{% extends 'base.html.twig' %}

{% block title %}Liste des joueurs
{% endblock %}

{% block body %}

{% include 'main_nav.html.twig' %}

<div class="body-wrapper">

	<div class="menu-tab">
		<h4 class="active"><a href="">Listes des joueurs</a></h4>
	</div>

	<div class="main-wrapper">

		<div class="dash-card">

			<table id="players-list" class="responsive stripe hover cell-border dt-justify">

				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Essais</th>
						<th>transformations</th>
						<th>Pénalités</th>
						<th>Drops</th>
						<th>Cartons rouges</th>
						<th>Cartons jaunes</th>
						<th>Temps de jeu</th>
						<th>Catégorie</th>
					</tr>
				</thead>
				<tbody>
					{% for player in players %}
					<tr>
						<td>{{ player.lestName}}</td>
						<td>{{ player.firstName }}</td>
						<td>{{ player.essais }}</td>
						<td>{{ player.transformations }}</td>
						<td>{{ player.penalites }}</td>
						<td>{{ player.drops }}</td>
						<td>{{ player.rouges }}</td>
						<td>{{ player.jaunes }}</td>
						<td>{{ player.temps|date() }}</td>
						<td>{{ team.category}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<a class="add-player-btn btn-lg pointer" href="player/form">+ Ajouter un joueur</a>
		</div>
	</div>
</div>

{% include 'player_form/index.html.twig' with {'form': form} %}

<script>
	$(document).ready(function () {
		$('#players-list').DataTable({
			"language": {
				"url": "{{ asset('js/french.lang') }}"
			},
			responsive: true,
			autoWidth: false,
		});
		$('.add-player-btn').click(function (e) {
			e.preventDefault()
			$('.modal').fadeIn()
		})
		$('.close-btn').click(function (e) {
			e.preventDefault()
			$('.modal').fadeOut()
		})
	});
</script>

{% endblock %}