{% extends 'base.html.twig' %}

{% block title %}Hello ShowPlayersController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{% for player in players %}
		<li>{{ player.lestName}}&nbsp;{{ player.firstName }}&nbsp;{{ player.essais }}&nbsp;{{ player.transformations }}&nbsp;{{ player.penalites }}&nbsp;{{ player.drops }}&nbsp;{{ player.rouges }}&nbsp;{{ player.jaunes }}&nbsp;&nbsp;&nbsp;<strong>équipe:</strong>
			{{ team.category}}</li><br>

	{% endfor %}
{% endblock %}
