{% extends 'base.html.twig' %}

{% block title %}Liste des joueurs
{% endblock %}

{% block body %}

{% include 'main_nav.html.twig' %}

<div class="body-wrapper">

	<div class="menu-tab">
		<center>
			<h4>Listes des joueurs</h4>
		</center>
	</div>

	<div class="main-wrapper">

		<table id="players-list" class="stripe hover cell-border dt-justify">

			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Essais</th>
					<th>transformations</th>
					<th>Pénalités</th>
					<th>Drops</th>
					<th>Cartons rouges</th>
					<th>Cartons jaunes</th>
					<th>Temps de jeu</th>
					<th>Catégorie</th>
				</tr>
			</thead>
			<tbody>
				{% for player in players %}
				<tr>
					<td>{{ player.lestName}}</td>
					<td>{{ player.firstName }}</td>
					<td>{{ player.essais }}</td>
					<td>{{ player.transformations }}</td>
					<td>{{ player.penalites }}</td>
					<td>{{ player.drops }}</td>
					<td>{{ player.rouges }}</td>
					<td>{{ player.jaunes }}</td>
					<td>{{ player.temps|date() }}</td>
					<td>{{ team.category}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#players-list').DataTable({
			"language": {
				"url": "{{ asset('js/french.lang') }}"
			},
			responsive: true,
			// responsive: {
			// 	details: {
			// 		display: $.fn.dataTable.Responsive.display.childRowImmediate
			// 	}
			// },
			fixedColumns: {
				leftColumns: 2
			}
		});
	});
</script>

{% endblock %}