{% extends 'base.html.twig' %}

{% block title %}Hello MatchCalendarController!{% endblock %}

{% block body %}

{% include 'nav.html.twig' %}


<ul>
	{% for match in match %}
		<li>{{ match.matchtype.name }}</li><br>
        <li>{{ match.localteam }}</li>vs <br> 
        <li>{{ match.visitorteam }}</li><br> en date du
        <li>{{ match.date |date("m/d/Y H:i:s") }}</li><br> pour une durée de 
        <li>{{ match.duration |date('H:i:s') }}</li><br>
        {% for team in match.teams %}
            Catégorie : {{ team.id }}
            Catégorie : {{ team.category }}
    	{% endfor %}
        {# <li>{{ match.stats }}</li> #}
        {# <li>{% for comp in match.composition['backer'] %}
        Position possible : {{comp}}<br>
        {% endfor %}
        </li> #}
	{% endfor %}
</ul>



{% endblock %}
