{% extends 'base.html.twig' %}




{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
{% endblock %}




{% block title %}Hello MatchCalendarController!
{% endblock %}

{% block body %}
{# {{ dump(id_team) }} #}

{{ include('main_nav.html.twig', {'idteam': idteam}) }}

<div class="body-wrapper">

    <div class="menu-tab">
        <h4 class="active"><a href="">Calendrier des matches</a></h4>
        <h4><a href="">Compositions</a></h4>
    </div>


    <div class="main-wrapper">
        <div class="dashboard">
            <div class="dash-card">
                <table id="match-calendar" class="responsive stripe hover cell-border dt-body-center">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Équipe local</th>
                            <th></th>
                            <th>Équipe visiteur</th>
                            <th>Durée</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for match in match %}
                        <tr>

                            <td><a href="/match/composition/{{ match.id }}">{{ match.matchtype.name }}<br><small>voir
                                        détails</small></a></td>
                            <td>{{ match.date |date("m/d/Y H:i:s") }}</td>
                            <td>{{ match.localteam }}</td>
                            <td>vs</td>
                            <td>{{ match.visitorteam }}</td>
                            <td>{{ match.duration |date('H:i:s') }}</td>

                        </tr>
                        {% endfor %}


                    </tbody>

                    {# <li>{{ match.stats }}</li> #}
                    {# <li>{% for comp in match.composition['backer'] %}
												                Position possible : {{comp}}<br>
												                {% endfor %}
												            </li> #}

                    </tbody>
                </table>
                <a href="" class="add-match-btn btn-lg pointer">+ Ajouter un match</a>

            </div>

            <div class="dashboard-content">
                <div class="dash-card">
                    <div class="card-header">
                        <h5>Résultat des 5 derniers matches</h5>
                    </div>
                    <div class="card-body">
                        <!-- la suite -->
                        <!-- pour guillaume -->
                        <!-- recap 5 dernier match-->
                        {% for resultat in resultat %}
                        {% if resultat == 1 %}
                        <div class="result winner">
                            <p>&#10004;</p>
                        </div>
                        {% endif %}
                        {% if resultat == 2 %}
                        <div class="result loser">
                            <p>&#10006;</p>
                        </div>
                        {% endif %}
                        {% if resultat == 0 %}
                        <div class="result draw">
                            <p>-</p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="dash-card">
                    <div class="card-header">
                        <h5>Les 5 meilleurs buteurs</h5>
                    </div>
                    <div class="card-body">
                        <!-- 5 meilleurs buteurs-->
                        <center>
                            <table id="best-scorers">
                                {% for meilleur_buteur in meilleur_buteur %}
                                <tr>
                                    <td>
                                        <!-- le 2 affiche le nombre de point total de la saison mis par le joueur -->
                                        {# {{ meilleur_buteur.2 }}<br> #}
                                    </td>
                                    <td>
                                        <!-- Le 0 affiche le last name -->
                                        {{ meilleur_buteur.0 }}
                                        <!-- le 1 affiche le first name -->
                                        {{ meilleur_buteur.1 }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </center>
                    </div>
                    <div class="card-footer">
                        <a href="" class="small">Voir le classement des joueurs &xrarr;</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% include 'add_match/index.html.twig' with {'form': form} %}

{% endblock %}


{% block javascripts %}

<script>
    $(document).ready(function () {
        $('#match-calendar').DataTable({
            "language": {
                "url": "{{ asset('js/french.lang') }}"
            },
            responsive: true,
            autoWidth: false,
        });
        $('.add-match-btn').click(function (e) {
			e.preventDefault()
			$('.modal').fadeIn()
		})
		$('.close-btn').click(function (e) {
			e.preventDefault()
			$('.modal').fadeOut()
		})
    });
</script>

<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

{{ include('@MercurySeriesFlashy/flashy.html.twig') }}

{% endblock %}
