{% extends 'base.html.twig' %}

{% block title %}Hello TeamFormController!
{% endblock %}

{% block body %}


{# {{ form(form) }} #}
<div id="form-modal">

    {{ form_start(form)}}

    <div class="form_add_team">

        <div>

            {{ form_label(form.category, 'Catégorie') }}
            {{ form_widget(form.category) }}

        </div>

        <div>

            {{ form_label(form.play_season, 'Saison jouée')}}
            {{ form_widget(form.play_season)}}

        </div>

        <button type="submit" class="btn-lg pointer">Ajouter</button>

        {{ form_end(form)}}

    </div>

</div>

    {% endblock %}