{% block body %}


	{{ form_start(form)}}

	<div id="myModal" class="modal-content">

		<div class="form_add_team">

			<div>

				{{ form_label(form.category, 'Catégorie') }}
				{{ form_widget(form.category) }}

			</div>

			<div>

				{{ form_label(form.play_season, 'Saison jouée')}}
				{{ form_widget(form.play_season)}}

			</div>

			<button type="submit" class="btn-lg pointer">Ajouter</button>

		</div>

	{{ form_end(form)}}

	</div>

{% endblock %}