<nav>
	<div class="sm-menu nav-container">

		<ul>
			<li><img class="user-portrait" src="{{ asset('img/portrait.png') }}" alt="portrait de l'utilisateur"></li>
			<li>
				<ul>
					<li class="mb-screen">
						<a><img class="svg-icon" src="{{ asset('icons/users.svg')}}" href="">Equipe</a>
					</li>
					<li class="mb-screen">
						<a><img class="svg-icon" src="{{ asset('icons/plus.svg')}}" href="">Ajouter</a>
					</li>
					<li>
						<a><img class="svg-icon" src="{{ asset('icons/signout.svg')}}" alt="=déconnection">
							Déconnection
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="bg-menu tab-container">
		<ul class="sub-menu">
			<li>
				<a href="">
					<div class="li-wrapper active">
						<svg xmlns="http://www.w3.org/2000/svg" width="40.5" height="36" viewbox="0 0 40.5 36">
							<path id="Icon_awesome-trophy" data-name="Icon awesome-trophy" d="M38.813,4.5H31.5V1.688A1.683,1.683,0,0,0,29.813,0H10.688A1.683,1.683,0,0,0,9,1.688V4.5H1.688A1.683,1.683,0,0,0,0,6.188v3.938c0,2.51,1.582,5.091,4.352,7.08a16.472,16.472,0,0,0,7.734,2.932,15.553,15.553,0,0,0,4.788,5.175v5.063H13.5c-2.482,0-4.5,1.455-4.5,3.938v.844A.846.846,0,0,0,9.844,36H30.656a.846.846,0,0,0,.844-.844v-.844c0-2.482-2.018-3.937-4.5-3.937H23.625V25.313a15.553,15.553,0,0,0,4.788-5.175,16.416,16.416,0,0,0,7.734-2.932c2.763-1.99,4.352-4.57,4.352-7.08V6.188A1.683,1.683,0,0,0,38.813,4.5ZM6.982,13.556C5.266,12.319,4.5,10.941,4.5,10.125V9H9.014a25.254,25.254,0,0,0,.9,6.061,11.331,11.331,0,0,1-2.932-1.5ZM36,10.125c0,1.132-1.245,2.538-2.482,3.431a11.375,11.375,0,0,1-2.939,1.5A25.254,25.254,0,0,0,31.479,9H36Z"/>
						</svg>
						Matches
					</div>
				</a>
			</li>

			<li class="">
				<a href="/team/form">
					<div class="li-wrapper">
						<svg xmlns="http://www.w3.org/2000/svg" width="45" height="31.5" viewbox="0 0 45 31.5">
							<path id="Icon_awesome-users" data-name="Icon awesome-users" class="cls-1" d="M6.75,15.75a4.5,4.5,0,1,0-4.5-4.5A4.5,4.5,0,0,0,6.75,15.75Zm31.5,0a4.5,4.5,0,1,0-4.5-4.5A4.5,4.5,0,0,0,38.25,15.75ZM40.5,18H36a4.487,4.487,0,0,0-3.171,1.308A10.285,10.285,0,0,1,38.109,27H42.75A2.248,2.248,0,0,0,45,24.75V22.5A4.5,4.5,0,0,0,40.5,18Zm-18,0a7.875,7.875,0,1,0-7.875-7.875A7.871,7.871,0,0,0,22.5,18Zm5.4,2.25h-.584a10.873,10.873,0,0,1-9.633,0H17.1A8.1,8.1,0,0,0,9,28.35v2.025a3.376,3.376,0,0,0,3.375,3.375h20.25A3.376,3.376,0,0,0,36,30.375V28.35A8.1,8.1,0,0,0,27.9,20.25Zm-15.729-.942A4.487,4.487,0,0,0,9,18H4.5A4.5,4.5,0,0,0,0,22.5v2.25A2.248,2.248,0,0,0,2.25,27H6.884A10.311,10.311,0,0,1,12.171,19.308Z" transform="translate(0 -2.25)"/>
						</svg>Équipe
					</div>
				</a>
			</li>
			<li class="">
				<a href="/team/form">
					<div class="li-wrapper">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="27" viewbox="0 0 36 27">
							<path id="Icon_awesome-chart-line" data-name="Icon awesome-chart-line" d="M34.875,27H4.5V5.625A1.125,1.125,0,0,0,3.375,4.5H1.125A1.125,1.125,0,0,0,0,5.625V29.25A2.25,2.25,0,0,0,2.25,31.5H34.875A1.125,1.125,0,0,0,36,30.375v-2.25A1.125,1.125,0,0,0,34.875,27ZM32.625,6.75h-8.3a1.687,1.687,0,0,0-1.193,2.881l2.278,2.278-5.159,5.16L15.091,11.91a2.249,2.249,0,0,0-3.182,0l-4.83,4.83a1.125,1.125,0,0,0,0,1.591l1.59,1.59a1.125,1.125,0,0,0,1.591,0L13.5,16.682l5.159,5.159a2.249,2.249,0,0,0,3.182,0l6.75-6.75,2.278,2.278a1.687,1.687,0,0,0,2.881-1.193v-8.3A1.124,1.124,0,0,0,32.625,6.75Z" transform="translate(0 -4.5)"/>
						</svg>
						Statistiques
					</div>
				</a>
			</li>
		</ul>
		<h3>{{ app.user.finances.name }}</h3>
		<div class="side-menu">
			<div class="user-info">
				<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 36 36">
					<path id="Icon_awesome-user-alt" data-name="Icon awesome-user-alt" class="cls-1" d="M18,20.25A10.125,10.125,0,1,0,7.875,10.125,10.128,10.128,0,0,0,18,20.25Zm9,2.25H23.126a12.24,12.24,0,0,1-10.252,0H9a9,9,0,0,0-9,9v1.125A3.376,3.376,0,0,0,3.375,36h29.25A3.376,3.376,0,0,0,36,32.625V31.5A9,9,0,0,0,27,22.5Z"/>
				</svg>
				<a>{{app.user.email}}</a>
			</div>
			<div class="log-out-user">
				<svg xmlns="http://www.w3.org/2000/svg" width="35.436" height="27.004" viewbox="0 0 35.436 27.004">
					<path id="Icon_awesome-sign-out-alt" data-name="Icon awesome-sign-out-alt" class="cls-1" d="M34.945,19.2,23.133,31.008a1.69,1.69,0,0,1-2.883-1.2v-6.75H10.688A1.683,1.683,0,0,1,9,21.375v-6.75a1.683,1.683,0,0,1,1.688-1.687H20.25V6.188a1.691,1.691,0,0,1,2.883-1.2L34.945,16.8A1.7,1.7,0,0,1,34.945,19.2ZM13.5,30.656V27.844A.846.846,0,0,0,12.656,27H6.75A2.248,2.248,0,0,1,4.5,24.75V11.25A2.248,2.248,0,0,1,6.75,9h5.906a.846.846,0,0,0,.844-.844V5.344a.846.846,0,0,0-.844-.844H6.75A6.752,6.752,0,0,0,0,11.25v13.5A6.752,6.752,0,0,0,6.75,31.5h5.906A.846.846,0,0,0,13.5,30.656Z" transform="translate(0 -4.499)"/>
				</svg>
				<a>Se déconnecter</a>
			</div>
		</div>

	</ul>

</div></div></nav>
